FlotMaximum/.idea/
*.DS_Store
FlotMaximum/FlotMaximum/bin/
FlotMaximum/FlotMaximum/obj/
FlotMaximum/FlotMaximum.sln.DotSettings.user
FlotMaximum/Tests/bin/.
FlotMaximum/Tests/obj/.
FlotMaximum/Tests/bin/
FlotMaximum/Tests/obj/
